@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
    background-image:url("/images/python.png");
    background-size:auto;
    font-family: 'Kanit', sans-serif;
}
a {
    color: aqua;
}
#navbar a{
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 24px;
}
#navbar{
    width: 100%;
    text-align: center;
}
.me{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    font-size: 30px;
  }
  .flex-item-left {
    padding: 10px;
    flex: 33%;
    text-align: center;
    font-size: 20px;
  }

  .flex-item-center {
    padding: 10px;
    flex: 33%;
    text-align: right;
    font-size: 20px;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 33%;
    text-align: center;
    font-size: 20px;
  }








