@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body,
html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

body{
  background-image: url("http://all4desktop.com/data_images/original/4245965-fire.jpg");
  background-size: auto 100vh;
}
a {
    color: aqua;
}
#navbar a{
    background-color: black;
    padding: 10px;
    color: rgb(0, 255, 64);
    font-size: 24px;
    flex-wrap:wrap
}
#navbar{
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.me{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    font-size: 30px;
  }
  .flex-item-left {
    padding: 10px;
    flex: 33%;
    text-align: center;
    font-size: 20px;
    flex-wrap: wrap;
  }

  .flex-item-center {
    padding: 10px;
    flex: 33%;
    text-align: right;
    font-size: 20px;
    flex-wrap: wrap;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 33%;
    text-align: center;
    font-size: 20px;
    flex-wrap: wrap;
  }








